*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.u-mb-1 {
  margin-bottom: 1.5rem; }

.u-mb-2 {
  margin-bottom: 3rem; }

.u-mb-4 {
  margin-bottom: 4rem; }

.u-mb-6 {
  margin-bottom: 6rem; }

.u-mb-8 {
  margin-bottom: 8rem; }

.u-pr-lg {
  padding-right: 26rem; }

.u-text-center {
  text-align: center; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #0e1a35; }

.main-header {
  background: url("../img/header-graph.png") 50% 40% no-repeat, url("../img/header-grid.png") center top no-repeat, #0e1a35;
  padding: 6.6rem 0 56rem 0;
  position: relative; }
  .main-header__navbar {
    margin: 0 16rem;
    margin-bottom: 15rem;
    display: flex; }
  .main-header__logo {
    width: 26rem;
    display: flex;
    align-items: center; }
  .main-header__nav {
    margin-left: auto;
    display: flex; }
  .main-header__nav-list {
    list-style: none;
    display: flex;
    align-items: center; }
  .main-header__nav-item:not(:last-child) {
    margin-right: 5rem; }
  .main-header__nav-link:link, .main-header__nav-link:visited {
    font-size: 18px;
    color: #fff;
    text-decoration: none; }
  .main-header__login-btn {
    font-size: 18px;
    text-decoration: none;
    color: #5584ff;
    padding: 1.2rem 4rem;
    border-radius: 100px;
    border: 1px solid #233a72; }
  .main-header__promo {
    text-align: center; }
  .main-header__heading {
    font-size: 4rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: 6rem; }
  .main-header__sub-heading {
    display: block;
    font-size: 3.6rem;
    font-weight: 400;
    color: #8492af;
    margin-top: 0.6rem; }
  .main-header__preview-box {
    position: absolute;
    top: 60rem;
    left: 50%;
    transform: translateX(-50%); }
    .main-header__preview-box::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 77%;
      box-shadow: 0 -2rem 6rem #14244a;
      z-index: -1; }

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.2rem 6rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
  background-color: #5584ff;
  border-radius: 100px;
  min-width: 20.5rem; }

.section-heading {
  font-size: 5.6rem;
  font-weight: 100; }

.section-features {
  padding: 26rem 0 4rem 0; }

.features-list {
  list-style: none;
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; }
  .features-list__item {
    max-width: 40rem;
    text-align: center;
    position: relative; }
    .features-list__item:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 4rem;
      left: 80%;
      width: 22rem;
      height: 1px;
      background-color: #dadee7; }
  .features-list__icon {
    width: 8rem;
    display: inline-block;
    margin-bottom: 6rem; }
  .features-list__heading {
    color: #0e1a35;
    font-size: 24px;
    margin-bottom: 3rem; }
  .features-list__paragraph {
    color: #8492af;
    font-size: 1.8rem;
    margin-bottom: 5.5rem; }
  .features-list__btn:link, .features-list__btn:visited {
    color: #0e1a35;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.4rem 8.6rem;
    border: 1px solid #dadee7;
    border-radius: 100px; }

.section-description {
  padding: 26rem;
  padding-top: 20rem;
  background: url("../img/description-image.png") 100% 18rem no-repeat, linear-gradient(to bottom, #fff 0%, #fff 20%, #f6f7fa); }
  .section-description__container {
    max-width: 80rem; }
  .section-description__heading {
    margin-bottom: 6rem; }
  .section-description .checked-list {
    list-style: none; }
    .section-description .checked-list__item {
      font-size: 2rem;
      color: #5584ff;
      display: flex;
      align-items: center; }
      .section-description .checked-list__item::before {
        content: '';
        background: url("../img/icon-checked.png") center no-repeat;
        width: 3rem;
        height: 3rem;
        margin-right: 2rem; }
      .section-description .checked-list__item:not(:last-child) {
        margin-bottom: 3.5rem; }

.paragraph {
  font-size: 1.6rem;
  color: #8492af;
  -webkit-hyphens: auto;
  hyphens: auto; }

.section-drag-drop {
  padding: 16rem 14rem;
  background: url("../img/header-graph.png") center center no-repeat, url("../img/header-grid.png") 50% 10% no-repeat, #0e1a35; }

.drag-drop__container {
  display: flex; }

.drag-drop__left-side {
  display: flex; }

.drag-drop__in-progress {
  max-width: 40rem;
  margin-right: 5rem; }

.drag-drop__heading {
  font-size: 2.8rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center; }
  .drag-drop__heading--arrow::after {
    content: '';
    margin-left: auto;
    width: 3rem;
    height: 3rem;
    background: url("../img/arrow-right-nocircle.png") center right no-repeat; }
  .drag-drop__heading span {
    color: #8492af; }

.drag-drop__completed {
  max-width: 40rem; }

.drag-drop__drop-here {
  color: #8492af;
  border: 1px dashed #8492af;
  padding: 3rem 14rem;
  font-size: 2rem; }

.drag-drop__right-side {
  align-self: center;
  padding: 0 18rem; }
  .drag-drop__right-side .section-heading {
    color: #fff;
    margin-bottom: 4rem; }

.drag-drop__controls {
  display: flex; }

.drag-drop__left-arrow {
  margin-right: 2rem; }

.task {
  width: 38rem;
  background-color: #fff;
  padding: 2.6rem 3rem;
  display: flex;
  position: relative; }
  .task__label {
    width: 4rem;
    height: 4rem;
    border-radius: 100px;
    padding: 1rem;
    font-size: 1.8rem;
    background-color: #5584ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem; }
  .task__name {
    font-size: 1.4rem;
    margin-bottom: 1px; }
  .task__time-left {
    font-size: 1.2rem;
    color: #a09f9f;
    display: flex;
    align-items: center; }
    .task__time-left::before {
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("../img/clock.png");
      background-size: cover;
      margin-right: 0.5rem; }
    .task__time-left--enough {
      color: #a09f9f; }
    .task__time-left--delay {
      color: #f83c7b; }
      .task__time-left--delay::before {
        background-image: url("../img/clock-red.png"); }
    .task__time-left--completed {
      color: #33cc49; }
      .task__time-left--completed::before {
        background-image: url("../img/checkbox-green.png"); }
  .task__dots-btn {
    margin-left: auto;
    width: 5px;
    display: flex;
    align-items: center; }
  .task__dot {
    position: relative; }
    .task__dot, .task__dot::before, .task__dot::after {
      width: 5px;
      height: 5px;
      background-color: #a09f9f;
      border-radius: 50%;
      display: block; }
    .task__dot::before, .task__dot::after {
      content: '';
      position: absolute;
      left: 0; }
    .task__dot::before {
      top: -1rem; }
    .task__dot::after {
      top: 1rem; }
  .task--positioned {
    position: relative;
    top: 3rem;
    left: 3rem; }
  .task__hand-image {
    position: absolute;
    bottom: -5rem;
    right: -4.2rem; }

.section-preview {
  padding: 9rem 0;
  text-align: center; }
  .section-preview > .paragraph {
    max-width: 100rem;
    margin: 0 auto;
    margin-bottom: 6rem; }

.preview {
  position: relative;
  max-width: 100rem;
  margin: 0 auto; }
  .preview__image {
    display: block;
    width: 100%;
    margin: 0 auto; }
  .preview__label {
    position: absolute;
    width: 64rem; }
    .preview__label::before, .preview__label::after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%; }
    .preview__label::before {
      width: 3rem;
      height: 3rem;
      background-color: #5584ff;
      z-index: 1; }
    .preview__label::after {
      width: 5rem;
      height: 5rem;
      background-color: rgba(85, 132, 255, 0.6); }
    .preview__label--first {
      top: 8rem;
      right: 55rem;
      text-align: left; }
      .preview__label--first::before {
        top: 1.8rem;
        right: -1.8rem; }
      .preview__label--first::after {
        top: 0.8rem;
        right: -2.8rem; }
    .preview__label--second {
      bottom: 15rem;
      left: 55rem;
      text-align: right; }
      .preview__label--second::before {
        top: 1.8rem;
        left: -1.8rem; }
      .preview__label--second::after {
        top: 0.8rem;
        left: -2.8rem; }
  .preview__title {
    font-size: 2.2rem;
    color: #0e1a35;
    border-bottom: 2px solid #5584ff; }
  .preview__paragraph {
    font-size: 1.6rem;
    color: #8492af; }

.section-pricing {
  padding-bottom: 10rem; }
  .section-pricing__cta {
    font-size: 1.8rem;
    color: #8492af;
    max-width: 90rem;
    padding: 0 1rem;
    margin: 0 auto;
    margin-bottom: 6rem; }
  .section-pricing__btn-box {
    width: 78rem;
    margin: 0 auto;
    position: relative; }
    .section-pricing__btn-box::before, .section-pricing__btn-box::after {
      content: '';
      display: block;
      width: 22rem;
      height: 1px;
      background-color: #dadee7;
      position: absolute;
      top: 50%; }
    .section-pricing__btn-box::before {
      left: 2rem; }
    .section-pricing__btn-box::after {
      right: 2rem; }

.pricing-list {
  list-style: none;
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10rem; }
  .pricing-list__item {
    min-width: 36rem;
    background-color: #fff;
    box-shadow: 0 0 7rem rgba(0, 0, 0, 0.2);
    padding: 4.5rem 5rem; }
    .pricing-list__item-title {
      font-size: 2.4rem;
      color: #0e1a35;
      text-transform: uppercase;
      margin-bottom: 1.4rem; }
    .pricing-list__item-price {
      margin-bottom: 2rem; }
  .pricing-list__usd {
    font-size: 4rem; }
  .pricing-list__price {
    font-size: 7.2rem; }
  .pricing-list__period {
    font-size: 2.4rem;
    color: #8492af; }

.offers {
  list-style: none;
  text-align: center; }
  .offers__item {
    font-size: 1.8rem;
    color: #8492af;
    display: flex;
    align-items: center; }
    .offers__item:not(:last-child) {
      margin-bottom: 1.6rem; }
    .offers__item::before {
      content: '';
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1.4rem;
      background-size: cover;
      background-repeat: no-repeat; }
    .offers__item--included::before {
      background-image: url("../img/checkbox-blue.png"); }
    .offers__item--not-included::before {
      background-image: url("../img/not-included.png"); }
