// Utility classes
.u-mb-1 {
    margin-bottom: 1.5rem;
}

.u-mb-2 {
    margin-bottom: 3rem;
}

.u-mb-4 {
    margin-bottom: 4rem;
}

.u-mb-6 {
    margin-bottom: 6rem;
}

.u-pr-lg {
    padding-right: 26rem;
}
