// Solid colors
$color-primary: #0e1a35;
$color-white: #fff;

// Font colors
$color-blue-1: #5584ff;

$color-blue-dark-1: #0e1a35;
$color-blue-dark-2: #233a72;

$color-blue-light-1: #dadee7;
$color-blue-light-2: #8492af;

$color-gradient: #f6f7fa;

// Etc
$preview-image-shadow-color: #14244a;
