// Solid colors
$color-primary: #0e1a35;
$color-white: #fff;

// Font colors
$color-blue-1: #5584ff;
$color-blue-2: #99b5ff;

$color-blue-dark-1: #0e1a35;
$color-blue-dark-2: #233a72;

$color-blue-light-1: #dadee7;
$color-blue-light-2: #8492af;

$color-gradient: #f6f7fa;

$color-grey: #a09f9f;
$color-red: #f83c7b;
$color-green: #33cc49;

// Etc
$preview-image-shadow-color: #14244a;
