@import 'reset';
@import 'utilities';
@import 'variables';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: $color-primary;
}

.main-header {
    background: url('../img/header-graph.png') 50% 40% no-repeat,
        url('../img/header-grid.png') center top no-repeat, $color-primary;
    padding: 6.6rem 0 56rem 0;
    position: relative;

    &__navbar {
        margin: 0 16rem;
        margin-bottom: 15rem;

        display: flex;
    }

    &__logo {
        width: 26rem;

        display: flex;
        align-items: center;
    }

    &__nav {
        margin-left: auto;

        display: flex;
    }

    &__nav-list {
        list-style: none;

        display: flex;
        align-items: center;
    }

    &__nav-item:not(:last-child) {
        margin-right: 5rem;
    }

    &__nav-link:link,
    &__nav-link:visited {
        font-size: 18px;
        color: $color-white;
        text-decoration: none;
    }

    &__login-btn {
        font-size: 18px;
        text-decoration: none;
        color: $color-blue-1;

        padding: 1.2rem 4rem;
        border-radius: 100px;
        border: 1px solid $color-blue-dark-2;
    }

    &__promo {
        text-align: center;
    }

    &__heading {
        font-size: 4rem;
        font-weight: 300;
        color: $color-white;
        margin-bottom: 6rem;
    }

    &__sub-heading {
        display: block;
        font-size: 3.6rem;
        font-weight: 400;
        color: $color-blue-light-2;
        margin-top: 0.6rem;
    }

    &__preview-box {
        position: absolute;
        top: 60rem;
        left: 50%;
        transform: translateX(-50%);

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 77%;
            box-shadow: 0 -2rem 6rem $preview-image-shadow-color;
            z-index: -1;
        }
    }
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 1.5rem 6rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: $color-white;
    background-color: $color-blue-1;
    border-radius: 100px;

    &--blue {
    }
}

.section-heading {
    font-size: 5.6rem;
    font-weight: 100;
}

.section-features {
    padding: 26rem 0 4rem 0;
}

.features-list {
    list-style: none;
    max-width: 140rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;

    &__item {
        max-width: 40rem;
        text-align: center;
        position: relative;

        &:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 4rem;
            left: 80%;
            width: 22rem;
            height: 1px;
            background-color: $color-blue-light-1;
        }
    }

    &__icon {
        width: 8rem;
        display: inline-block;
        margin-bottom: 6rem;
    }

    &__heading {
        color: $color-primary;
        font-size: 24px;
        margin-bottom: 3rem;
    }

    &__paragraph {
        color: $color-blue-light-2;
        font-size: 1.8rem;
        margin-bottom: 5.5rem;
    }

    &__btn:link,
    &__btn:visited {
        color: $color-blue-dark-1;
        font-size: 1.8rem;
        text-decoration: none;
        padding: 1.4rem 8.6rem;
        border: 1px solid $color-blue-light-1;
        border-radius: 100px;
    }
}

.section-description {
    padding: 26rem;
    padding-top: 20rem;
    background: url('../img/description-image.png') 100% 18rem no-repeat,
        linear-gradient(
            to bottom,
            $color-white 0%,
            $color-white 20%,
            $color-gradient
        );

    &__container {
        max-width: 80rem;
    }
    &__heading {
        margin-bottom: 6rem;
    }
    .checked-list {
        list-style: none;
        &__item {
            font-size: 2rem;
            color: $color-blue-1;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                background: url('../img/icon-checked.png') center no-repeat;
                width: 3rem;
                height: 3rem;
                margin-right: 2rem;
            }
            &:not(:last-child) {
                margin-bottom: 3.5rem;
            }
        }
    }
}
.paragraph {
    font-size: 1.6rem;
    color: $color-blue-light-2;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.section-drag-drop {
    padding: 16rem 14rem;
    background: url('../img/header-graph.png') center center no-repeat,
        url('../img/header-grid.png') 50% 10% no-repeat, $color-primary;
}
.drag-drop {
    &__container {
        display: flex;
    }
    &__left-side {
        display: flex;
    }
    &__in-progress {
        max-width: 40rem;
        margin-right: 5rem;
    }
    &__heading {
        font-size: 2.8rem;
        font-weight: 400;
        color: $color-white;
        margin-bottom: 2.5rem;
        display: flex;
        align-items: center;
        &--arrow::after {
            content: '';
            margin-left: auto;
            width: 3rem;
            height: 3rem;
            background: url('../img/arrow-right-nocircle.png') center right
                no-repeat;
        }
        span {
            color: $color-blue-light-2;
        }
    }
    &__completed {
        max-width: 40rem;
    }
    &__drop-here {
        color: $color-blue-light-2;
        border: 1px dashed $color-blue-light-2;
        padding: 3rem 14rem;
        font-size: 2rem;
    }
    &__right-side {
        align-self: center;
        padding: 0 18rem;
        .section-heading {
            color: $color-white;
            margin-bottom: 4rem;
        }
    }
    &__controls {
        display: flex;
    }
    &__left-arrow {
        margin-right: 2rem;
    }
}
.task {
    width: 38rem;
    background-color: $color-white;
    padding: 2.6rem 3rem;
    display: flex;
    position: relative;
    &__label {
        width: 4rem;
        height: 4rem;
        border-radius: 100px;
        padding: 1rem;
        font-size: 1.8rem;
        background-color: $color-blue-1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
    }
    &__name {
        font-size: 1.4rem;
        margin-bottom: 1px;
    }
    &__time-left {
        font-size: 1.2rem;
        color: $color-grey;
        display: flex;
        align-items: center;
        &::before {
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            background-image: url('../img/clock.png');
            background-size: cover;
            margin-right: 0.5rem;
        }
        &--enough {
            color: $color-grey;
        }
        &--delay {
            color: $color-red;
            &::before {
                background-image: url('../img/clock-red.png');
            }
        }
        &--completed {
            color: $color-green;
            &::before {
                background-image: url('../img/checkbox-green.png');
            }
        }
    }
    &__dots-btn {
        margin-left: auto;
        width: 5px;
        display: flex;
        align-items: center;
    }
    &__dot {
        position: relative;
        &,
        &::before,
        &::after {
            width: 5px;
            height: 5px;
            background-color: $color-grey;
            border-radius: 50%;
            display: block;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
        }
        &::before {
            top: -1rem;
        }
        &::after {
            top: 1rem;
        }
    }
    &--positioned {
        position: relative;
        top: 3rem;
        left: 3rem;
    }
    &__hand-image {
        position: absolute;
        bottom: -5rem;
        right: -4.2rem;
    }
}
