@import 'reset';
@import 'utilities';
@import 'variables';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: $color-primary;
}

.main-header {
    background: url('../img/header-graph.png') 50% 40% no-repeat,
        url('../img/header-grid.png') center top no-repeat, $color-primary;
    padding: 6.6rem 0 56rem 0;
    position: relative;

    &__navbar {
        margin: 0 16rem;
        margin-bottom: 15rem;

        display: flex;
    }

    &__logo {
        width: 26rem;

        display: flex;
        align-items: center;
    }

    &__nav {
        margin-left: auto;

        display: flex;
    }

    &__nav-list {
        list-style: none;

        display: flex;
        align-items: center;
    }

    &__nav-item:not(:last-child) {
        margin-right: 5rem;
    }

    &__nav-link:link,
    &__nav-link:visited {
        font-size: 18px;
        color: $color-white;
        text-decoration: none;
        transition: color 0.2s ease;

        &:hover {
            color: rgba($color-white, 0.6);
        }
    }

    &__login-btn {
        font-size: 18px;
        text-decoration: none;
        color: $color-blue-1;

        padding: 1.2rem 4rem;
        border-radius: 100px;
        border: 1px solid $color-blue-dark-2;

        transition: background-color 0.2s ease, color 0.2s ease;

        &:hover {
            background-color: $color-blue-dark-2;
            color: $color-white;
        }
    }

    &__promo {
        text-align: center;
    }

    &__heading {
        font-size: 4rem;
        font-weight: 300;
        color: $color-white;
        margin-bottom: 6rem;
    }

    &__sub-heading {
        display: block;
        font-size: 3.6rem;
        font-weight: 400;
        color: $color-blue-light-2;
        margin-top: 0.6rem;
    }

    &__preview-box {
        position: absolute;
        top: 60rem;
        left: 50%;
        transform: translateX(-50%);

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 77%;
            box-shadow: 0 -2rem 6rem $preview-image-shadow-color;
            z-index: -1;
        }
    }
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 1.2rem 6rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: $color-white;
    background-color: $color-blue-1;
    border-radius: 100px;
    min-width: 20.5rem;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &::before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        background-color: $color-blue-1;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::before {
            transform: scaleX(1.6) scaleY(1.8);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
    }
}

.section-heading {
    font-size: 5.6rem;
    font-weight: 100;
}

.section-features {
    padding: 26rem 0 4rem 0;
}

.features-list {
    list-style: none;
    max-width: 140rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;

    &__item {
        max-width: 40rem;
        text-align: center;
        position: relative;

        &:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 4rem;
            left: 80%;
            width: 22rem;
            height: 1px;
            background-color: $color-blue-light-1;
        }
    }

    &__icon {
        width: 8rem;
        display: inline-block;
        margin-bottom: 6rem;
    }

    &__heading {
        color: $color-primary;
        font-size: 24px;
        margin-bottom: 3rem;
    }

    &__paragraph {
        color: $color-blue-light-2;
        font-size: 1.8rem;
        margin-bottom: 5.5rem;
    }

    &__btn:link,
    &__btn:visited {
        color: $color-blue-dark-1;
        font-size: 1.8rem;
        text-decoration: none;
        padding: 1.4rem 8.6rem;
        border: 1px solid $color-blue-light-1;
        border-radius: 100px;
        transition: background-color 0.3s ease;
        display: inline-block;

        &:hover {
            background-color: $color-blue-light-1;
        }
    }
}

.section-description {
    padding: 26rem;
    padding-top: 20rem;
    background: url('../img/description-image.png') 100% 18rem no-repeat,
        linear-gradient(
            to bottom,
            $color-white 0%,
            $color-white 20%,
            $color-gradient
        );

    &__container {
        max-width: 80rem;
    }
    &__heading {
        margin-bottom: 6rem;
    }
    .checked-list {
        list-style: none;
        &__item {
            font-size: 2rem;
            color: $color-blue-1;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                background: url('../img/icon-checked.png') center no-repeat;
                width: 3rem;
                height: 3rem;
                margin-right: 2rem;
            }
            &:not(:last-child) {
                margin-bottom: 3.5rem;
            }
        }
    }
}
.paragraph {
    font-size: 1.6rem;
    color: $color-blue-light-2;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.section-drag-drop {
    padding: 16rem 14rem;
    background: url('../img/header-graph.png') center center no-repeat,
        url('../img/header-grid.png') 50% 10% no-repeat, $color-primary;
}
.drag-drop {
    &__container {
        display: flex;
    }
    &__left-side {
        display: flex;
    }
    &__in-progress {
        max-width: 40rem;
        margin-right: 5rem;
    }
    &__heading {
        font-size: 2.8rem;
        font-weight: 400;
        color: $color-white;
        margin-bottom: 2.5rem;
        display: flex;
        align-items: center;
        &--arrow::after {
            content: '';
            margin-left: auto;
            width: 3rem;
            height: 3rem;
            background: url('../img/arrow-right-nocircle.png') center right
                no-repeat;
        }
        span {
            color: $color-blue-light-2;
        }
    }
    &__completed {
        max-width: 40rem;
    }
    &__drop-here {
        color: $color-blue-light-2;
        border: 1px dashed $color-blue-light-2;
        padding: 3rem 14rem;
        font-size: 2rem;
    }
    &__right-side {
        align-self: center;
        padding: 0 18rem;
        .section-heading {
            color: $color-white;
            margin-bottom: 4rem;
        }
    }
    &__controls {
        display: flex;
    }
    &__left-arrow,
    &__right-arrow {
        cursor: pointer;
        transition: transform 0.3s ease;
        backface-visibility: hidden;
    }
    &__left-arrow {
        margin-right: 2rem;
        &:hover {
            transform: translateX(-3px);
        }
    }
    &__right-arrow {
        &:hover {
            transform: translateX(3px);
        }
    }
}
.task {
    width: 38rem;
    background-color: $color-white;
    padding: 2.6rem 3rem;
    display: flex;
    position: relative;
    transition: transform 0.3s ease;
    backface-visibility: hidden;
    &:hover {
        transform: translateY(-3px) scale(1.05);
    }
    &__label {
        width: 4rem;
        height: 4rem;
        border-radius: 100px;
        padding: 1rem;
        font-size: 1.8rem;
        background-color: $color-blue-1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
    }
    &__name {
        font-size: 1.4rem;
        margin-bottom: 1px;
    }
    &__time-left {
        font-size: 1.2rem;
        color: $color-grey;
        display: flex;
        align-items: center;
        &::before {
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            background-image: url('../img/clock.png');
            background-size: cover;
            margin-right: 0.5rem;
        }
        &--enough {
            color: $color-grey;
        }
        &--delay {
            color: $color-red;
            &::before {
                background-image: url('../img/clock-red.png');
            }
        }
        &--completed {
            color: $color-green;
            &::before {
                background-image: url('../img/checkbox-green.png');
            }
        }
    }
    &__dots-btn {
        margin-left: auto;
        width: 5px;
        display: flex;
        align-items: center;
    }
    &__dot {
        position: relative;
        &,
        &::before,
        &::after {
            width: 5px;
            height: 5px;
            background-color: $color-grey;
            border-radius: 50%;
            display: block;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
        }
        &::before {
            top: -1rem;
        }
        &::after {
            top: 1rem;
        }
    }
    &--positioned {
        position: relative;
        top: 3rem;
        left: 3rem;
    }
    &__hand-image {
        position: absolute;
        bottom: -5rem;
        right: -4.2rem;
    }
}
.section-preview {
    padding: 9rem 0;
    text-align: center;
    & > .paragraph {
        max-width: 100rem;
        margin: 0 auto;
        margin-bottom: 6rem;
    }
}
.preview {
    position: relative;
    max-width: 100rem;
    margin: 0 auto;
    &__image {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    &__label {
        position: absolute;
        width: 64rem;
        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            border-radius: 50%;
        }
        &::before {
            width: 3rem;
            height: 3rem;
            background-color: $color-blue-1;
            z-index: 1;
        }
        &::after {
            width: 5rem;
            height: 5rem;
            background-color: rgba($color-blue-1, 0.6);
        }
        &--first {
            top: 8rem;
            right: 55rem;
            text-align: left;
            &::before,
            &::after {
                top: 1.8rem;
                right: -1.8rem;
            }
            &::after {
                top: 0.8rem;
                right: -2.8rem;
            }
        }
        &--second {
            bottom: 15rem;
            left: 55rem;
            text-align: right;
            &::before {
                top: 1.8rem;
                left: -1.8rem;
            }
            &::after {
                top: 0.8rem;
                left: -2.8rem;
            }
        }
    }
    &__title {
        font-size: 2.2rem;
        color: $color-primary;
        border-bottom: 2px solid $color-blue-1;
    }
    &__paragraph {
        font-size: 1.6rem;
        color: $color-blue-light-2;
    }
}
.section-pricing {
    padding-bottom: 10rem;
    &__cta {
        font-size: 1.8rem;
        color: $color-blue-light-2;
        max-width: 90rem;
        padding: 0 1rem;
        margin: 0 auto;
        margin-bottom: 6rem;
    }
    &__btn-box {
        width: 78rem;
        margin: 0 auto;
        position: relative;
        &::before,
        &::after {
            content: '';
            display: block;
            width: 22rem;
            height: 1px;
            background-color: $color-blue-light-1;
            position: absolute;
            top: 50%;
        }
        &::before {
            left: 2rem;
        }
        &::after {
            right: 2rem;
        }
    }
}
.pricing-list {
    list-style: none;
    max-width: 140rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    &__item {
        min-width: 36rem;
        background-color: $color-white;
        box-shadow: 0 0 7rem rgba($color-black, 0.2);
        padding: 4.5rem 5rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        backface-visibility: hidden;
        &:hover {
            transform: translateY(-7px) scale(1.05);
            box-shadow: 0 0 10rem rgba($color-black, 0.25);
        }
        &-title {
            font-size: 2.4rem;
            color: $color-primary;
            text-transform: uppercase;
            margin-bottom: 1.4rem;
        }
        &-price {
            margin-bottom: 2rem;
        }
    }
    &__usd {
        font-size: 4rem;
    }
    &__price {
        font-size: 7.2rem;
    }
    &__period {
        font-size: 2.4rem;
        color: $color-blue-light-2;
    }
}
.offers {
    list-style: none;
    text-align: center;
    &__item {
        font-size: 1.8rem;
        color: $color-blue-light-2;
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 1.6rem;
        }
        &::before {
            content: '';
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 1.4rem;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--included::before {
            background-image: url('../img/checkbox-blue.png');
        }
        &--not-included::before {
            background-image: url('../img/not-included.png');
        }
    }
}
.main-footer {
    padding: 6rem 25rem;
    background-color: $color-primary;
    color: $color-blue-light-2;
    font-size: 1.8rem;
    display: flex;
    &__nav {
        list-style: none;
        display: flex;
        margin-left: auto;
        margin-right: 5rem;
        &-item:not(:last-child) {
            margin-right: 4rem;
        }
        &-link:link,
        &-link:visited {
            text-decoration: none;
            color: inherit;
            transition: color 0.2s ease;
            &:hover {
                color: rgba($color-blue-light-2, 0.6);
            }
        }
    }
    &__social-links {
        list-style: none;
        display: flex;
    }
    &__social-link {
        &:not(:last-child) {
            margin-right: 2rem;
        }
        svg {
            width: 2rem;
            height: 2rem;
            fill: $color-blue-light-2;
            transition: fill 0.2s ease;
            backface-visibility: hidden;
        }
        &:hover {
            svg {
                fill: rgba($color-blue-light-2, 0.6);
            }
        }
    }
}
